{% load static %}

<style>

    #facebookiconu:hover{
        background-color:#535c68 !important;
        border: none;
        border-radius:3px !important;
        outline: none;
    }

    #twittericonu:hover{
        background-color: #00a8ff !important;
        border: none;
        border-radius: 3px !important;
        outline: none;
    }

</style>

<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel"
                data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in teams %}
                <div class="slick-slide-item">
                        <div class="team-1">
                            <div class="photo">
                                <a href="#">
                                    <img src="{{team.photo.url}}" alt="team-1" class="img-fluid">
                                </a>
                                <div class="social-list clearfix">
                                    <a href="#" id="facebookiconu"><i class="fa fa-facebook"></i></a>
                                    <a href="#" id="twittericonu"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                            <div class="details">
                                <h4><a href="team-detail.html">{{team.first_name|title}} {{team.last_name|title}}</a></h4>
                                <h5>{{team.designation|title}}</h5>
                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>