{% load static %}

<style>
    #facebookiconu:hover{
        background-color:#535c68 !important;
        border: none;
        border-radius:3px !important;
        outline: none;
    }

    #twittericonu:hover{
        background-color: #00a8ff !important;
        border: none;
        border-radius: 3px !important;
        outline: none;
    }
</style>

<footer class="footer">
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} Carzone Corp. All Rights Reserved.</p><!-- now funksiyasi sayesinden hal hazirdaki vaxti oyrenmek mumkundur -->
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li id="facebookiconu"><a href="https://www.facebook.com" target="_blank" !important><i class="fa fa-facebook"></i></a></li>
                            <li id="twittericonu"><a href="https://twitter.com/ " target="_blank" !important><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://myaccount.google.com/ !important" target="_blank" class="google-bg" !important><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/ !important" target="_blank" class="linkedin-bg" !important><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>