    {% load static %}
    <!--!Footer-->
    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-submenu.js' %}"></script>
    <script src="{% static 'js/rangeslider.js' %}"></script>
    <script src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.filterizr.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'js/lightgallery-all.js' %}"></script>
    <script src="{% static 'js/jnoty.js' %}"></script>
    <script src="{% static 'js/app.js' %} "></script>