{% load static %}

<!-- !Page Loader -->
<div class="page_loader"></div>

<!-- !@Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:+55-4XX-634-7071"><i class="fa fa-phone"></i>+55-4XX-634-7071</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>info@themevessel.com</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    {% if request.user.is_authenticated %}<!-- eger istifadeci giris edibse yeni request.user.is_authenticated olubsa bura islesin-->
                        <li>
                            <a href="{% url 'account:dashboardView' %}" class="sign-in"><i class="fa fa-tachometer"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in"><i class="fa fa-sign-out"></i> Logout</a><!-- burda javascript: yazilmasi o demekdriki yeni bu url tiklananda javascript kodu islesin ve submit metodu yazilsin verilen id li attribute sonra onuda form icide testiqlemek lazimdir cunki formu submit edirik biz html de -->
                            <form action="{% url 'account:logoutView' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>

                        </li>    
                    {% else %}<!-- yox eger istifadeci giris etmeyibse bura islesin -->
                        <li>
                            <a href="{% url 'account:loginView' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                        </li>
                        <li>
                            <a href="{% url 'account:registerView' %}" class="sign-in"><i class="fa fa-registered"></i> Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->

<!--! Main header start -->
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="{% url 'pages:homeView' %}">
                <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"><!-- !Burda == yazmagmizdaki sebeb sayta girende defaultdaki linki bildirsin navbarda home olarag -->
                        <a class="{% if request.path == '/' %} nav-link active {% else %} nav-link {% endif %} " href="{% url 'pages:homeView' %}">
                            Home
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="{% if 'cars' in request.path %} nav-link active {% else %} nav-link {% endif %}" href="{% url 'cars:allCarsView' %}">
                            Cars
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="{% if 'about' in request.path %} nav-link active {% else %} nav-link {% endif %}" href="{% url 'pages:aboutView' %}">
                            About
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="{% if 'services' in request.path %} nav-link active {% else %} nav-link {% endif %}" href="{% url 'pages:servicesView' %}">
                            Services
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="{% if 'contact' in request.path %} nav-link active {% else %} nav-link {% endif %}" href="{% url 'pages:contactView' %}">Contact</a>
                    </li>

                    <li class="nav-item dropdown m-hide">
                        <a href="#full-page-search" class="nav-link h-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->