{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Cars Inventory{% endblock title %}

{% block content %}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP" height="0" width="0"
        style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'pages:homeView' %}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-1 col-md-12">

                <div class="row">
                    <!-- !Pagination Car Page -->
                {% for car in cars %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3 border rounded">
                            <div class="car-thumbnail">
                                <a href="{% url 'cars:detailCarsView' car.id %}" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>${{car.price|intcomma}}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px !important;max-height: 262px !important;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">

                                                {% if car.car_photo %}
                                                    <a href="{{car.car_photo.url}}" class="overlap-btn">
                                                        <i class="fa fa-expand"></i>
                                                        <img class="hidden" src="{{car.car_photo.url}}" >
                                                    </a>
                                                {% endif %}
                                                
                                                {% if car.car_photo1 %}
                                                    <a href="{{car.car_photo1.url}}" class="hidden">
                                                        <img class="hidden" src="{{car.car_photo1.url}}">
                                                    </a>
                                                {% endif %}

                                                {% if car.car_photo2 %}
                                                    <a href="{{car.car_photo2.url}}" class="hidden">
                                                        <img class="hidden" src="{{car.car_photo2.url}}">
                                                    </a>
                                                {% endif %}

                                                {% if car.car_photo3 %}
                                                    <a href="{{car.car_photo3.url}}" class="hidden">
                                                        <img class="hidden" src="{{car.car_photo3.url}}">
                                                    </a>
                                                {% endif %}

                                                {% if car.car_photo4 %}
                                                    <a href="{{car.car_photo4.url}}" class="hidden">
                                                        <img class="hidden" src="{{car.car_photo4.url}}">
                                                    </a>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'cars:detailCarsView' car.id %}">{{car.car_title}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'cars:detailCarsView' car.id %}">
                                        <i class="flaticon-pin"></i>{{car.state}}. {{car.city}},
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{car.fuel_type}}</li>
                                    <li>{{car.miles|intcomma}} km</li>
                                    <li>{{car.transmission}}</li>
                                    <li>{{car.body_style}}</li>
                                    <li>{{car.color}}</li>
                                    <li>{{car.year}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            
                <!-- !Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">

                        {% if cars.has_other_pages %}<!-- ?Eger basqa bir seyfe varsa gorunsun oxlar yoxdursa gorunmesin has_other_pages sayesinde -->
                            <ul class="pagination">

                                <!--!Left yeni evvel sol teref yeni,burda geri oxuna basib geri getmek ucundur-->
                                    {% if cars.has_previous %}<!-- ?Eger ozunden evvel page varsa yeni  cars.has_previous -->
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{cars.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                    {% endif %}
                                <!--!xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

                                <!--!Bu hissede saga ve ya ola hereket gedir oxnan mentiq var burda, yeni bu hissede reqemlerin ustune basib seyfeni cevirmekdi-->
                                {% for i in cars.paginator.page_range %}
                                    {% if cars.number == i %}
                                        <li class="page-item">
                                            <a class="page-link active" href="#">{{i}}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                
                                <!--!Burda ise saga gedir yeni qabaga ireli,burda ireli oxuna basib ireli getmek ucundur-->
                                {% if cars.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{cars.next_page_number}}"><i class="fa fa-angle-right"></i>{{i}}</a>
                                    </li>
                                {% else %}<!-- Eger sona gelibse yeni bitibse disabled ele oxu yeni islemesin -->
                                    <li class="page-item disabled">
                                        <a class="page-link"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                {% endif %}
                                <!--!xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
                            </ul>
                        {% endif %}

                    </nav>
                </div>
            </div>
          
        </div>
    </div>
</div>
<!-- Featured car end -->

{% include "partials/pagesearch.html" %}

{% endblock content %}